rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null
        && request.auth.token.email in ['sam.castillo71@gmail.com', 'scastillo@rcs-k12.us'];
    }

    match /users/{uid} {
      allow read: if request.auth != null;
      allow write: if request.auth != null
        && (request.auth.uid == uid || isAdmin());
    }
    match /brackets/{uid} {
      allow read: if request.auth != null;
      allow write: if request.auth != null
        && (request.auth.uid == uid || isAdmin());
    }
    match /brackets_mammals/{uid} {
      allow read: if request.auth != null;
      allow write: if request.auth != null
        && (request.auth.uid == uid || isAdmin());
    }
    match /leaderboard/{uid} {
      allow read: if request.auth != null;
      allow write: if request.auth != null
        && (request.auth.uid == uid || isAdmin());
    }
    match /leaderboard_mammals/{uid} {
      allow read: if request.auth != null;
      allow write: if request.auth != null
        && (request.auth.uid == uid || isAdmin());
    }
    match /tournament/{doc} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }
    match /admin/{doc} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }
  }
}
